@model IPTSE_portal.Models.IPTSE_Reg_table

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:black;text-align:center">Forget Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="align-content:center">

    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-7">
            <h4 style="color: #ff0000;" align="Center">@ViewBag.ErrorMessage</h4>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-7">
            <h5 style="text-align:center;"> Enter your valid e-mail id for login details</h5>
        </div>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @*@Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-offset-4 col-md-10">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "E-mail id" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class=" col-md-12" style="">
           <div style="width: 208px;margin: 0px auto;">
            <input type=button onClick="parent.location='http://portal.iptse.com'" value='Login' class="btn btn-primary">
            <input type="submit" value="Submit" class="btn btn-primary" />
               </div>
        </div>
    </div>

</div>
}