@model IPTSE_portal.Models.payment_details
@using IPTSE_portal.Models;

@{
    IPTSE_Reg_table regInfo = ViewData["RegInfo"] as IPTSE_Reg_table;
    //payment_details payDetail = ViewData["PaymentDetail"] as payment_details;
}

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    .form-control2 {
        width: 11% !important;
        float: left !important;
        margin-left: 10px !important;
    }

    .formcontrol_1 {
        margin-left: 10px !important;
    }

    .btn2 a {
        color: #fff;
    }
</style>

<div style="padding:10px">
    <h3> User Details</h3>
    <p>
        @Html.ActionLink("Back to List", "RegistrationList")
    </p>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(r => regInfo.first_name)
        </dd>

        <dt>
            Middle Name
        </dt>

        <dd>
            @Html.DisplayFor(r => regInfo.mid_name)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(r => regInfo.last_name)
        </dd>

        <dt>
            Gender
        </dt>

        <dd>
            @Html.DisplayFor(r => regInfo.gender)
        </dd>

        <dt>
            Address 1
        </dt>

        <dd>
            @Html.DisplayFor(r => regInfo.addr1)
        </dd>

        <dt>
            Address 2
        </dt>

        <dd>
            @Html.DisplayFor(r => regInfo.addr2)
        </dd>

        <dt>
            City
        </dt>

        <dd>
            @Html.DisplayFor(r => regInfo.city)
        </dd>

        <dt>
            State
        </dt>

        <dd>
            @Html.DisplayFor(r => regInfo.state)
        </dd>

        <dt>
            Pincode
        </dt>

        <dd>
            @Html.DisplayFor(r => regInfo.zipcode)
        </dd>

        <dt>
            Country
        </dt>

        <dd>
            @Html.DisplayFor(r => regInfo.country)
        </dd>

        <dt>
            Contact
        </dt>

        <dd>
            @Html.DisplayFor(r => regInfo.contact)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(r => regInfo.email)
        </dd>

        <dt>
            DateOfBirth
        </dt>
        @{
            string parameterValue = regInfo.dob.ToShortDateString();
        }
        <dd>
            @Html.DisplayFor(r => parameterValue)
        </dd>

        <dt>
            School Name
        </dt>

        <dd>
            @Html.DisplayFor(r => regInfo.schoolname)
        </dd>

        <dt>
            Standard/course
        </dt>

        <dd>
            @Html.DisplayFor(r => regInfo.standard)
        </dd>

        <dt>
            Mother Name
        </dt>

        <dd>
            @Html.DisplayFor(r => regInfo.mothername)
        </dd>

        <dt>
            Father name
        </dt>

        <dd>
            @Html.DisplayFor(r => regInfo.fathername)
        </dd>

        <dt>
            Volunteer Name
        </dt>

        <dd>
            @Html.DisplayFor(r => regInfo.volunteername)
        </dd>

    </dl>
</div>

@using (Html.BeginForm("Activate", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <form role="form">
        <div>
            <span style="padding:10px">Enter Payment Deatails</span><br />
            <div>
                @Html.EditorFor(p => Model.Id, new { htmlAttributes = new { @id = "txtId", @class = "form-control form-control2 input-sm", placeholder = "ID*", maxlength = 50 } })

            </div>
            <div>
                @Html.EditorFor(p => Model.payment_id, new { htmlAttributes = new { @id = "txtId", @class = "form-control form-control2 input-sm", placeholder = "Payment Ref*", maxlength = 50 } })
                @Html.ValidationMessageFor(p => Model.payment_id, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.EditorFor(p => Model.payment_date, new { htmlAttributes = new { @class = "formcontrol1 formcontrol_1 input-sm datefield", placeholder = "MM/DD/YYYY" } })

                @Html.ValidationMessageFor(p => Model.payment_date, "", new { @class = "text-danger" })
            </div>
        </div>


        <p style="margin:10px; padding:0px" class="btn btn2 btn-primary">
            
                <input type="submit" value="Activate" class="btn btn-info btn-block">
           
        </p>
    </form>
}
