@model IPTSE_portal.Models.login_table
@{
    ViewBag.Title = "Login Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Login :: OnlineExam</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/fonts.css" rel="stylesheet">
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <style>
        .login_box li {
            list-style: none;
        }
    </style>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="~/js/script.js"></script>

    <script>
        $(document).ready(function () {
            //   Hide the border by commenting out the variable below
            var $on = 'section';
            $($on).css({
                'background': 'none',
                'border': 'none',
                'box-shadow': 'none'
            });
        });
    </script>

</head>
<body>
    <!-- login_page start -->
    <div class="login_page">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4"></div>
                <div class="col-lg-8 col-md-8">
                    <div class="login_box">
                        <center>
                            <h4 style="color: #ff0000;" align="Center">@ViewBag.ErrorMessage</h4>
                            <h4 style="color: #00ff21;" align="Center">@TempData["Message"]</h4>
                            <br />
                            <div class="mid_logo"><img src="~/images/logo.png" width="100" /></div>
                        </center>
                        @using (Html.BeginForm("Login", "IPTSELogin", FormMethod.Post, new { @id = "form_login" }))
                        {
                            @Html.AntiForgeryToken()
                            @*@Html.HiddenFor(m => m.ReturnUrl)*@
                            @Html.ValidationSummary(true, null, new { @style = "color: red;font-weight: bold;font-size: large" })
                            <div class="mid_loginmessage"> Enter your information below to log in</div><br />
                            @Html.TextBoxFor(r => r.email, new { @placeholder = "Id/Email-Id" })
                            @Html.ValidationMessageFor(m => m.email, string.Empty, new { @style = "color: red" })
                            @Html.PasswordFor(r => r.password, new { @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.password, string.Empty, new { @style = "color: red" })

                            <div class="mid_loginmessage" style="float:left;display:none;">
                                @*@Html.CheckBoxFor(r => r.rememberMe, new { @placeholder = "rememberMe" })*@ <label style="margin-left: 18px;">Remember User Name</label>
                            </div>
                            <button type="submit" class="login_btn">Login</button>
                            <br />
                            <div style="width:100%;"><div style="width:45%;float: left;"><a href="~/IPTSERegistration/ForgetPassword">Forget Password?</a></div><div style="width:50%;float: right;"><a href="~/IPTSERegistration/Registration">Not Yet Registered?</a></div></div>
                            <br/><br/>
                            <div style="width:100%;"><div style="width:100%;float: right;"><a href="~/SchoolRegistration/SchoolRegistration">School/College Register Here!</a></div></div>
                        }

                        @*<div class="midNightLogo_BG"><img src="~/Images/logo.png" /></div>*@
                    </div>
                </div>
                <div class="col-lg-4 col-md-4"></div>
            </div>
        </div>
    </div>
    <!-- login_page end -->
    <div class="clear"></div>
    <div class="clear"></div>
</body>
</html>

